@model Category
@{
    ViewBag.Title = "UpdateCategory";
}


<style>

    /*Style tag'i acıldıgında siz CSS yazmaya baslamıssınız demektir... Eger . sembolü koyarak bir isim veriyorsanız bir CSS class'i yarattınız demektir...Actıgınız html tagleri bu css class'ini kullanırlarsa iclerinde yazdıgınız stil kodları ilgili HTML elementinin stiline müdahale eder...  Bu sekilde CSS yazmak Internal css yazmaktır*/
    .genislik {
        width: 300px;
    }
</style>


@*<div style="width:300px">
        (Inline CSS)
    </div>*@
@*<div class="genislik">

    </div>*@


@using (Html.BeginForm())
{

    @Html.HiddenFor(x=>x.ID)

    <div class="row">
        <div class="col-sm-12">

            <section class="panel">

                <header class="panel-heading">
                    Kategori Ekleme sayfası
                </header>

                <div class="panel panel-body">

                    <div class="form-group">
                        <label class="col-sm-2">Kategori İsim</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control genislik" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Acıklama</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control genislik" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Islem:</label>
                        <div class="col-sm-9">
                            <button class="btn btn-primary">Guncelle</button>
                        </div>
                    </div>



                </div>


            </section>

        </div>
    </div>
}

